.btn-com{
    background: white;
    border: 1px solid rgba(239, 124, 0, 1);
    color: rgba(239, 124, 0, 1);
    padding: 1rem 3rem;
    margin: 0 1rem;
    border-radius: 61px;
    &:hover{
        transition: all .5s;
        background: rgba(239, 124, 0, 1);
        color: white;
    }
}